<div class="is-fluid">
  <div class="columns is-multiline">
    <!-- ngFor HERE -->
    <div
      class="container column is-one-quarter"
      *ngFor="let recipe of ray">
      <!-- <a routerLink="/recipes/{{recipe.title}}"> -->
        <div class="card is-centered">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img [src]="recipe.imagePath" alt="{{ recipe.title }}">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{ recipe.title }}</p>
                <p class="subtitle is-6">{{ recipe.short }}</p>
              </div>
              <p class="media-right">
                <i
                  style="color: red"
                  class="fa fa-trash"
                  aria-hidden="true"
                  (click)="deleteItem(recipe.id)">
                </i>
                <i
                  style="color: blue"
                  class="fa fa-recycle"
                  aria-hidden="true"
                  (click)="updateItem(recipe.id)">
                </i>
              </p>
            </div>
            <div class="content">
              {{ recipe.description }}
              <!-- <a href="#">#css</a> <a href="#">#responsive</a> -->
              <br>
              <time datetime="2016-1-1">1 Jan 2016</time>
            </div>
          </div>
        </div>
      <!-- </a> -->
    </div>
    <!-- *** -->
  </div>
</div>

<button type="button" name="button" (click)="createOne()">CREATE</button>
