<!-- <div *ngIf="user.uid | async as uid; else login">
  this user is logged in. {{uid}}
  <div *ngIf="user.isAdmin | async">this user has admin powers</div>
  <div><button (click)="user.logout()">Logout</button></div>
</div>
<ng-template #login>
  you need to login: <button (click)="user.login()">Login</button>
</ng-template>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->

<div class="is-fluid container">
  <div class="columns is-multiline">
    <!-- ngFor HERE -->
    <div
      class="container column is-one-quarter"
      *ngFor="let recipe of recipes">
      <div class="card is-centered">
        <div class="card-content">
          <a routerLink="/recipes/{{ recipe.id }}">
            <div class="media">
              <div class="media-left">
                <figure class="image is-96x96">
                  <img *ngIf="recipe.imagePath" [src]="recipe.imagePath" alt="{{ recipe.title }}">
                </figure>
              </div>
              <div class="media-content">
              </div>
            </div>
            <div class="content">
              <p class="title is-4">{{ recipe.title }}</p>
              <p class="subtitle is-6">{{ recipe.short }}</p>
              <!-- <time datetime="2016-1-1">{{ dateConverter(recipe.date) }}</time> -->
            </div>
          </a>
          <p *ngIf="user.isAdmin | async" class="buttons">
            <button
              class="button is-danger is-small"
              type="button"
              name="button">
              <i
                class="fa fa-trash"
                aria-hidden="true"
                (click)="deleteItem(recipe.id)">
              </i>
            </button>
             <!-- USE THIS BUTTON WHEN YOU GET TO EDIT MODE -->
            <button class="button is-info is-small" type="button" name="button">
              <i
                class="fa fa-edit"
                aria-hidden="true"
                (click)="editItem(recipe.id)">
                Edit
              </i>
            </button>
          </p>
        </div>
      </div>
    </div>
    <!-- *** -->
  </div>
</div>
<!-- <div class="container column is-one-quarter">
  <button
    class="button is-primary is-small"
    routerLink="/create"
    type="button"
    name="button">
    Create New Recipe
  </button>
</div> -->
