<div class="is-fluid">
  <div class="columns is-multiline">
    <!-- ngFor HERE -->
    <div
      class="container column is-one-quarter"
      *ngFor="let recipe of ray">
      <div class="card is-centered">

        <div class="card-content">
          <a routerLink="/recipes/{{ recipe.id }}">
            <div class="media">
              <div class="media-left">
                <figure class="image is-96x96">
                  <img [src]="recipe.imagePath" alt="{{ recipe.title }}">
                </figure>
              </div>
              <div class="media-content">
              </div>
            </div>
            <div class="content">
              <p class="title is-4">{{ recipe.title }}</p>
              <p class="subtitle is-6">{{ recipe.short }}</p>
              <time datetime="2016-1-1">1 Jan 2016</time>
            </div>
          </a>
          <p class="buttons">
            <button class="button is-danger is-small" type="button" name="button">
              <i
                class="fa fa-trash"
                aria-hidden="true"
                (click)="deleteItem(recipe.id)">
                delete
              </i>
            </button>
            <button class="button is-info is-small" type="button" name="button">
              <i
                class="fa fa-edit"
                aria-hidden="true"
                (click)="deleteItem(recipe.id)">
                Edit Item
              </i>
            </button>
          </p>
        </div>
      </div>
    </div>
    <!-- *** -->
  </div>
</div>
<div class="container column is-one-quarter">
  <button
    routerLink="/create"
    type="button"
    name="button">
    Create New Recipe
  </button>
</div>
