<section class="hero is-medium is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Recipes Bitches!
      </h1>
      <h2 class="subtitle">
        choose your path...
      </h2>
    </div>
  </div>
</section>

<!-- <figure class="image is-square">
  <img src="https://bulma.io/images/placeholders/256x256.png">
</figure>
<figure class="image is-square">
  <img src="https://bulma.io/images/placeholders/256x256.png">
</figure> -->

<div class="columns is-gapless">
  <div class="column">
    <a routerLink="/blog" routerLinkActive="active">
      <figure class="image is-square">
        <img src="http://weclipart.com/gimg/66D21606EC93CE9D/il_fullxfull.720407533_cfek.jpg">
      </figure>
    </a>
  </div>
  <div class="column">
    <a routerLink="/blog" routerLinkActive="active">
      <figure class="image is-square">
        <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a">
      </figure>
    </a>
  </div>
</div>
