<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Add a new recipe
      </h1>
      <h2 class="subtitle">
        :)
      </h2>
    </div>
  </div>
</section>
<br>
<p class="level-item has-text-centered">
  <a
    class="link is-info"
    routerLink="/recipes">
    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
     Go back to recipe list
  </a>
</p>
<br>
<div class="container">
  <div class="columns">
    <div class="column">
      <!-- put form here -->

      <form [formGroup]="recipeForm" (ngSubmit)="onFormSubmit()">
        <!-- <div class="field">
          <div class="file has-name">
            <label class="file-label">
              <input
                class="file-input"
                type="file"
                name="picture"
                [(ngModel)]="picture"
                formControlName="formPicture"
                (change)="onFileChanged($event)">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Picture…
                </span>
              </span>
              <span class="file-name">
                Screen Shot 2017-07-29 at 15.54.25.png
              </span>
            </label>
          </div>
        </div> -->
        <div class="field">
          <label class="label">Title:</label>
          <div class="control">
            <input
              formControlName="formTitle"
              [(ngModel)]="title"
              class="input"
              type="text"
              placeholder="e.g Chocolate chip cookies">
          </div>
        </div>

        <div class="field">
          <label class="label">Short Card description</label>
          <div class="control">
            <input
              class="input"
              type="text"
              formControlName="formShortDescription"
              placeholder="Short description">
          </div>
          <p class="help">*Short description you'll see in the view all page under each card</p>
        </div>

        <div class="field">
          <label class="label">Long Description</label>
          <div class="control">
            <textarea
              class="textarea"
              placeholder="Long description"
              [(ngModel)]="long"
              formControlName="formLongDescription">
            </textarea>
          </div>
        </div>

        <form formArrayName="formIngredientList" *ngFor="let formIngredient of recipeForm.get('formIngredientList').controls; let i=index">
          <div [formGroup]="formIngredient">
            <div class="field">
              <label class="label">Ingredient!</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  formControlName="list"
                  placeholder="List ingredients">
              </div>
            </div>
          </div>
        </form>
        <input type="button" value="Add list" (click)="addInputList()">

        <br>
        <br>

        <div class="field">
          <label class="label">Personal notes</label>
          <div class="control">
            <input
              formControlName="formNotes"
              [(ngModel)]="notes"
              class="input"
              type="text"
              placeholder="e.g personal notes / quotes about this">
          </div>
        </div>

        <div class="field">
          <label class="label">Instructions</label>
          <div class="control">
            <textarea
              class="textarea"
              placeholder="Instructions"
              [(ngModel)]="instructions"
              formControlName="formInstructions">
            </textarea>
          </div>
        </div>

        <br>
        <div class="control">
          <button
            class="button is-primary"
            type="submit"
            [disabled]="!recipeForm.valid">
            Submit
          </button>
        </div>
      </form>
      <br>
      <!--  -->
    </div>
    <div class="column textWrap">
      <div class="content">
        <div class="media">
          <figure class="image is-128x128">
            <img src="https://via.placeholder.com/128x128">
          </figure>
          <div class="content">
            <h3>Title: {{ title }}</h3>
              <p class="widthShort">
                Description: {{ long }}
              </p>
          </div>
        </div>
          <ul>
            <h4>Ingredients List:</h4>
            <div *ngFor="let ingredients of this.recipeForm.get('formIngredientList').value">
              <label class="checkbox">
                <input type="checkbox">
                {{ ingredients.list }}
              </label>
              <br>
            </div>
          </ul>
          <blockquote>{{ notes }}</blockquote>

        <article class="message is-dark">
          <div class="message-header">
            Instructions:
          </div>
          <div class="message-body widthLong">
            {{ instructions }}
          </div>
        </article>
      </div>
      <br>
    </div>
  </div>
</div>
