<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Add a new recipe
      </h1>
      <!-- <h2 class="subtitle">
        :)
      </h2> -->
    </div>
  </div>
</section>
<br>
<p class="level-item has-text-centered">
  <a
    class="link button is-primary is-outlined"
    routerLink="/recipes">
    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>&nbsp;
     Back
  </a>
</p>
<br>
<div class="container">
  <div class="columns">
    <div class="column">
      <!-- put form here -->
      <form *ngIf="recipeForm" [formGroup]="recipeForm" (ngSubmit)="onFormSubmit()">
        <div class="field">
          <label class="label">img:</label>
          <div class="control">
            <input
              formControlName="formPicture"
              class="input"
              type="text"
              placeholder="e.g Chocolate chip cookies">
          </div>
        </div>
        <div class="field">
          <label class="label">Title:</label>
          <div class="control">
            <input
              formControlName="formTitle"
              value="hello"
              class="input"
              type="text"
              placeholder="e.g Chocolate chip cookies">
          </div>
        </div>

        <div class="field">
          <label class="label">Short Card description</label>
          <div class="control">
            <input
              class="input"
              type="text"
              formControlName="formShortDescription"
              placeholder="Short description">
          </div>
          <p class="help">*Short description you'll see in the view all page under each card</p>
        </div>

        <div class="field">
          <label class="label">Long Description</label>
          <div class="control">
            <textarea
              class="textarea"
              placeholder="Long description"
              formControlName="formLongDescription">
            </textarea>
          </div>
        </div>

        <form formArrayName="formIngredientList" *ngFor="let formIngredient of recipeForm.get('formIngredientList').controls; let i=index">
          <div [formGroup]="formIngredient">
            <div class="field">
              <label class="label">Ingredient!</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  formControlName="list"
                  placeholder="List ingredients">
              </div>
            </div>
          </div>
        </form>
        <input type="button" value="Add list" (click)="addInputList()">

        <br>
        <br>

        <div class="field">
          <label class="label">Personal notes</label>
          <div class="control">
            <input
              formControlName="formNotes"
              class="input"
              type="text"
              placeholder="e.g personal notes / quotes about this">
          </div>
        </div>

        <div class="field">
          <label class="label">Instructions</label>
          <div class="control">
            <textarea
              class="textarea"
              placeholder="Instructions"
              formControlName="formInstructions">
            </textarea>
          </div>
        </div>

        <br>
        <div class="control">
          <button
            class="button is-primary is-fullwidth is-large"
            [class.is-primary]="!editable"
            [class.is-info]="editable"
            type="submit"
            [disabled]="!recipeForm.valid">
            <i class="fa fa-{{ editable ? 'edit' : 'check-square' }}" aria-hidden="true"></i>&nbsp;
            {{ editable ? 'Update' : 'Submit'}}
          </button>
        </div>
      </form>
      <br>
      <!--  -->
    </div>
    <div class="column textWrap">
      <div class="content">
        <div class="media">
          <figure class="image is-128x128">
            <img src="{{ recipeForm ? recipeForm.get('formPicture').value : 'https://via.placeholder.com/128x128'}}">
          </figure>
          <div class="content">
            <h3>Title: {{ recipeForm.get('formTitle').value }}</h3>
              <p class="widthShort">
                Description: {{ recipeForm.get('formLongDescription').value }}
              </p>
          </div>
        </div>
          <ul>
            <h4>Ingredients List:</h4>
            <div *ngFor="let ingredients of this.recipeForm.get('formIngredientList').value">
              <label class="checkbox">
                <input type="checkbox">
                {{ ingredients.list }}
              </label>
              <br>
            </div>
          </ul>
          <blockquote>{{ recipeForm.get('formNotes').value }}</blockquote>

        <article class="message is-dark">
          <div class="message-header">
            Instructions:
          </div>
          <div class="message-body widthLong">
            {{ recipeForm.get('formInstructions').value }}
          </div>
        </article>
      </div>
      <br>
    </div>
  </div>
</div>
