<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ editable ? 'Update recipe' : 'Add new recipe'}}
      </h1>
      <h2 class="subtitle">
        {{ editable ? '🧀🍷' : '🍕🍺'}}
      </h2>
    </div>
  </div>
</section>
<br>
<p class="level-item has-text-centered">
  <a
    class="link button is-primary is-outlined"
    routerLink="/recipes">
    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>&nbsp;
     Back
  </a>
</p>
<br>
<div class="container">
  <div class="columns">
    <div class="column">
      <!-- put form here -->
      <form *ngIf="recipeForm" [formGroup]="recipeForm" (ngSubmit)="onFormSubmit()">
        <div class="field">
          <label class="label">Img</label>
          <div class="control">
            <input
              formControlName="formPicture"
              class="input"
              type="text"
              placeholder="e.g Chocolate chip cookies">
          </div>
        </div>
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input
              formControlName="formTitle"
              value="hello"
              class="input"
              type="text"
              placeholder="e.g Chocolate chip cookies">
          </div>
        </div>

        <div class="field">
          <label class="label">Short Card description</label>
          <div class="control">
            <input
              class="input"
              type="text"
              formControlName="formShortDescription"
              placeholder="Short description">
          </div>
          <p class="help">*Short description you'll see in the view all page under each card</p>
        </div>

        <div class="field">
          <label class="label">Long Description</label>
          <div class="control">
            <textarea
              class="textarea"
              placeholder="Long description"
              formControlName="formLongDescription">
            </textarea>
          </div>
        </div>

        <label class="label">Ingredients</label>
        <form formArrayName="formIngredientList" *ngFor="let formIngredient of inputList.controls; let i=index">
          <div [formGroup]="formIngredient">
            <div class="field">
              <div class="control">
                <span class="icon spacer">
                  <i class="fa fa-circle is-small" aria-hidden="true"></i>
                </span>
                <div class="bulleit is-inline-block">
                  <input
                    class="input"
                    [class.is-danger]="formIngredient.invalid"
                    type="text"
                    formControlName="list"
                    required
                    placeholder="List ingredients">
                </div>
                <a class="button is-danger" (click)="deleteItem(i)">
                  <span class="icon">
                    <i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </form>
        <a class="button is-primary" (click)="addInputList()">
          <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
        </a>

        <br>
        <br>

        <div class="field">
          <label class="label">Personal notes</label>
          <div class="control">
            <textarea
              formControlName="formNotes"
              class="input"
              type="text"
              placeholder="e.g personal notes / quotes about this">
            </textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">Instructions</label>
          <div class="control">
            <textarea
              class="textarea"
              placeholder="Instructions"
              formControlName="formInstructions">
            </textarea>
          </div>
        </div>

        <br>
        <div class="control">
          <button
            class="button is-primary is-fullwidth is-large"
            [class.is-primary]="!editable"
            [class.is-info]="editable"
            type="submit"
            [disabled]="!recipeForm.valid">
            <i class="fa fa-{{ editable ? 'edit' : 'check-square' }}" aria-hidden="true"></i>&nbsp;
            {{ editable ? 'Update' : 'Submit'}}
          </button>
        </div>
      </form>
      <br>
      <!--  -->
    </div>
    <div class="column textWrap">
      <div class="content">
        <div class="media">
          <figure class="image is-128x128">
            <img src="{{ recipeForm ? recipeForm.get('formPicture').value : 'https://via.placeholder.com/128x128'}}">
          </figure>
          <div class="content">
            <h3>Title: {{ recipeForm.get('formTitle').value }}</h3>
              <p class="widthShort">
                Description: {{ recipeForm.get('formLongDescription').value }}
              </p>
          </div>
        </div>
          <ul>
            <h4>Ingredients List:</h4>
            <div *ngFor="let ingredients of this.recipeForm.get('formIngredientList').value">
              <label class="checkbox">
                <input type="checkbox">
                {{ ingredients.list }}
              </label>
              <br>
            </div>
          </ul>
          <blockquote><i>{{ recipeForm.get('formNotes').value }}</i></blockquote>

        <article class="message is-dark">
          <div class="message-header">
            Instructions:
          </div>
          <div class="message-body widthLong">
            {{ recipeForm.get('formInstructions').value }}
          </div>
        </article>
      </div>
      <br>
    </div>
  </div>
</div>
