<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Just the recipes
      </h1>
      <h2 class="subtitle">
        No life stories here
      </h2>
    </div>
  </div>
</section>

<ul>
  <li class="text" *ngFor="let recipe of recipes | async">
    {{recipe.short}}
  </li>
</ul>
<!-- search below -->
<!-- <div *ngIf="!selectedRecipe" class="container panel-block">
  <p class="control has-icons-left">
    <input class="input is-small" type="text" placeholder="Filter recipes">
    <span class="icon is-small is-left">
      <i class="fa fa-search" aria-hidden="true"></i>
    </span>
  </p>
</div> -->

<app-recipe-card-list
  (recipeSelected)="selectedRecipe = $event"
  [recipes]="recipes"
></app-recipe-card-list>
<!--
<app-recipe-detail-view
  *ngIf="selectedRecipe"
  [recipe]="selectedRecipe">
</app-recipe-detail-view> -->
