<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Create
      </h1>
      <h2 class="subtitle">
        Yumm
      </h2>
    </div>
  </div>
</section>
<br>
<p class="level-item has-text-centered">
  <a
    class="link is-info"
    (click)="goBack()">
    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
     Go back to recipe list
  </a>
</p>
<br>

<div class="content container">
  <div class="media">
    <figure class="image is-128x128">
      <img [src]="recipe?.imagePath">
    </figure>
    <div class="content">
      <h3>Lets make some fucking {{ recipe?.title }}!!! 😈</h3>
        <p>
          {{ recipe?.description }}
        </p>
    </div>
  </div>
    <ul>
      <h4>Ingredients List:</h4>
      <label *ngFor="let ingredients of list" class="checkbox">
        <input type="checkbox">
        {{ingredients}}
      </label>
    </ul>
    <blockquote>{{ recipe?.personalNotes }}</blockquote>

  <article class="message is-dark">
    <div class="message-header">
      Instructions:
    </div>
    <div class="message-body">
      {{ recipe?.instructions }}
    </div>
  </article>
</div>

<br>
