<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Create
      </h1>
      <h2 class="subtitle">
        Yumm
      </h2>
    </div>
  </div>
</section>
<br>
<p class="level-item has-text-centered">
  <a
    class="link button is-primary is-outlined"
    (click)="goBack()">
    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>&nbsp;
     Back
  </a>
</p>
<br>

<div *ngIf="recipe" class="content container">
  <div class="media">
    <figure class="image is-128x128">
      <img [src]="recipe?.imagePath" alt="THIS IS THE NULL ERROR">
    </figure>
    <div class="content">
      <h3>Lets make some fucking {{ recipe?.title }}!</h3>
        <p>
          {{ recipe?.description }}
        </p>
    </div>
  </div>
    <ul>
      <h4>Ingredients List:</h4>
      <label *ngFor="let ingredients of list" class="checkbox">
        <input type="checkbox">
        {{ingredients}}
      </label>
    </ul>
    <blockquote><i>{{ recipe?.personalNotes }}</i></blockquote>

  <article class="message is-dark">
    <div class="message-header">
      Instructions:
    </div>
    <div class="message-body">
      {{ recipe?.instructions }}
    </div>
  </article>
</div>

<br>

<!-- <button class="is-fullwidth button is-info is-large" type="button" name="button">
  <i
    class="fa fa-edit"
    aria-hidden="true"
    (click)="editItem(recipe.id)">
    Update!
  </i>
</button> -->
